
  <video #video  [ngClass]="{'vedio_mirroir':miroir_viedo.active}" scrolling="no" marginwidth="0" marginheight="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" height="100%" width="100%" autoplay muted playsinline></video>
  <div class="camera-switch" *ngIf="allowCameraSwitch && availableVideoInputs.length > 1 && videoInitialized" (click)="rotateVideoInput(true)"></div>
  
  <canvas #canvas  [ngClass]="{'canvas_mirroir':miroir_viedo.active}"></canvas>


